<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BoardMapper">
  
	<select id="getBoard" resultType="boardVo">
		SELECT BOARD_NUM, BOARD_ID, BOARD_TITLE, BOARD_DATE 
        FROM (SELECT ROWNUM as rnum, BOARD_NUM, BOARD_ID,
                               BOARD_TITLE, BOARD_DATE 
                               FROM GUESTBOARD) 
        WHERE rnum BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="getCountBoard" resultType="int">
		SELECT COUNT(*) 
		FROM GUESTBOARD
	</select>
	
	<insert id="addBoard">
		INSERT INTO GUESTBOARD
		(BOARD_NUM, BOARD_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE) 
		VALUES 
		(BOARD_SEQ.NEXTVAL, #{boardId}, #{boardTitle}, #{boardContent}, SYSDATE)
	</insert>

  
  
</mapper>
  