<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TestMapper">
  
  <select id="userCheck" resultType="string">
	SELECT member_pw FROM GUESTMEMBER WHERE MEMBER_ID = #{member_id}
  </select>
  
  <select id="userName" resultType="string">
	SELECT member_name FROM GUESTMEMBER WHERE MEMBER_ID = #{member_id}
  </select>
  
  <!-- 회원가입 -->
  <insert id="addMember">
  	INSERT INTO GUESTMEMBER VALUE( MEMBER_NUM, MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_EMAIL, MEMBER_ADDRESS) 
  	VALUES (MEMBER_SEQ.NEXTVAL,#{member_id}, #{member_pw}, #{member_name}, #{member_email}, #{member_address})
  </insert>
  
	<!-- 아이디 중복확인 > 아이디가 있으면 1 없으면 0 -->
	<select id="getCountById" resultType="int">
		SELECT COUNT(*) FROM jspdb.testtable
		WHERE id = #{id}
	</select>
	
	<!-- 게시판 -->
	<select id="getBoard" resultType="boardVo">
		SELECT * FROM jspdb.testnotice
	</select>
	
	<insert id="boardWrite">
		
		INSERT INTO jspdb.testnotice (subject, writer, content) 
		VALUES (#{subject}, #{writer}, #{content})
		
	</insert>
	


  
  
</mapper>
  