<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TestMapper">
  
  <select id="userCheck" resultType="string">
	SELECT passwd FROM jspdb.testtable WHERE id = #{id}
  </select>
  
  <insert id="addMember">
  	INSERT INTO jspdb.testtable (id, passwd) 
  	VALUES (#{id}, #{passwd})
  </insert>
  
	<!-- 아이디 중복확인 > 아이디가 있으면 1 없으면 0 -->
	<select id="getCountById" resultType="int">
		SELECT COUNT(*) FROM jspdb.testtable
		WHERE id = #{id}
	</select>
	
	<!-- 게시판 -->
	<select id="getBoard" resultType="boardVo">
		SELECT * FROM jspdb.testnotice
	</select>
	
	<insert id="boardWrite">
		
		INSERT INTO jspdb.testnotice (subject, writer, content) 
		VALUES (#{subject}, #{writer}, #{content})
		
	</insert>

  
  
</mapper>
  