:root{
    --text-color:#f0f4f5;
    --background-color:#263343;
    --accent-color:#d49466;
}

#boardTable {
width:50%;
height:100%;
margin: auto;
}
#pageNums{
margin: auto;
}
th{
text-align: center;
}

.boardTh, .boardTd{
text-align: center;
}

.writeDiv{
    display: flex;
	justify-content: center;
	
}
.btnWrite{
	border: 1px solid var(--background-color);
	border-radius: 10px;
	padding: 10px;
	color: var(--background-color);
}

.btnWrite:hover {
	text-decoration: none;
	background-color: var(--background-color);
	color: #eeeeee;
}